body {
	background: url(images/wallpaper.jpg);
	color: white;
}
.navbar-nav {
	padding-left: 650px;
	width:100% ;
	background: transparent;
}
.nav-item {
	padding: 0px 20px 0px 20px;
}
.navbar navbar-expand-sm bg-light justify-content-left {
	margin-bottom: 30px;
	width:99% ;
	background: transparent;
}